* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  text-decoration: none;
}

body {
  display: block;
  height: 100vh;
}

header {
  background-image: url(/html_advanced/wwwroot/img/background.png);
  background-position: center;
  text-align: center;
  width: auto;
  margin: 0 auto;
  max-width: 1400px;
  margin:auto;
  padding: 20px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navBar a {
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
}

.navList {
  display: flex;
  align-items: center;
}

.navList li {
  margin-right: 20px;
}

.BannerTitle {
  font-size: 120px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 155px;
  color: white;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.banner ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;
}

.banner ul li {
  margin-right: 59px;
}

.BannerButton {
  padding: 13px 26px;
  background-color: #c271ff;
  border-radius: 22px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.banner h2 {
  margin-top: 160px;
  margin-bottom: 87px;
  font-size: 32px;
  font-weight: lighter;
}

.banner h2 .pink {
  color: #c271ff;
  font-weight: bold;
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards:not(:last-child) {
  margin-right: 80px;
}

.cards h3 {
  font-size: 18px;
  font-weight: bolder;
}

.cards p {
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
}

.cards img {
  border-radius: 50%;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c271ff;
  background-position: center;
  width: auto;
  margin: 0 auto;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.quote .container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 90px auto;
}

.quote .container img {
  margin-right: 50px;
}

.authorContainer {

}
